* {
    font-family: 'Roboto', serif;
}

nav {
    height: 50px;
    background: #212121;
}

.header {
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

header .subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 19px;
    
}

.subheader .subheader_official {
    margin-top: 6px;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader .subheader_call {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 19px;
}

.subheader .subheader_phone {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 3px;
    line-height: 22px;
}

.subheader_btn {
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    margin-top: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

section.promo {
    height: 800px;
    background: url(../img/uber_bg.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.promo_subheader {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    
    
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: 22px;
}

.promo_descr {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

.promo_btn {
    display: block;
    margin: 118px auto 0;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.button {
    display: block;
    margin: 18px auto 32px;
    width: 115px;
    height: 27px;
    background: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 16px;
}

.reasons_item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    height: 150px;
}

.reasons_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
}

.reasons_descr {
    width: 340px;
}

.reasons_subheader {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #1EACC7;
}

.reasons_text {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #202020;
}

section.app {
    height: 864px;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #222222;
    margin-bottom: 30px;
}

.app_item {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
}

.app_descr {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.app_item a {
    position: absolute;
    align-items:center;
}

.app_plus {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    background: #000;
    border-radius: 100%;
    width: 29px;
    height: 29px;
}